<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="BookShopDBConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\Users\HP\source\repos\BookShop\BookShop.BL\BookShopDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>